{% extends 'base.html' %}

{% block head %}
    <title>NutriTrack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block body %}
    <p>Current date: {{ cur_date }}</p>
    <a href="{{ url_for('history', date=cur_date, num=0) }}">View History</a>
    <div class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="NutriTrack Logo" class="logo">
        <h1>NutriTrack</h1>
        <h2><i>Your smart food companion.</i></h2>
    </div>

    <div class="introduction">
        <p>
            <strong>NutriTrack</strong> uses cutting-edge image recognition and label scanning to instantly identify food products and break down their nutritional information.
            Whether you're tracking calories, monitoring sugar intake, or managing dietary goals, our app helps you make healthier choices with ease.
            Just scan a label or snap a photo to get real-time insights, personalized nutrition tracking, and stay informed about what's on your plate.
        </p>
    </div>

    <div class="webcam">
        <h2>Scan a Label</h2>
        <p style="margin-bottom: 0.5rem;">Use your camera to scan the label of a food product.</p>
        <!-- <video id="video" width="100%" autoplay playsinline></video>
        <canvas id="canvas" style="display: none;"></canvas> -->

        {% if image_path %}
            <div style="text-align: center; margin-top: 1rem;">
                <h2 style="margin-bottom: 0.5rem;">Uploaded Image:</h2>
                <img src="static/uploads/captured_photo.jpg" alt="Uploaded Image" style="max-width: 100%; height: auto; border-radius: 12px; margin-top: 0;">
            </div>
        {% endif %}
    </div>

    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            <input type="number"w
            <button type="submit">Take Photo</button>
        </form>
    </div>

    <div class="results">
        <h2>Nutrition Results</h2>
        {% if results %}
            <ul>
                {% for nutrient in results %}
                    <li><strong>{{ nutrient[0] }}</strong>: {{ nutrient[1] }} {{ nutrient[2] }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No results available. Please upload an image.</p>
        {% endif %}
    </div>

    <div class="footer">
        <p>&copy; 2025 NutriTrack. All rights reserved.</p>
    </div>
{% endblock %}